body {
    margin: 0
}

.sub-reddit {
    margin: 2em 7%;
}

.votes {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto 2em auto 0;
}

a {
    text-decoration: none;
    color: black;
}

.post h5 {
    font-size: 13pt
}

.content{
    margin-top: 5em
}

.post img {
    margin: 1em 2em 1em 0;
    width: auto;
    max-height: 7em;
}