body {
    margin: 0
}

.sub-reddit {
    margin: 2em 7%;
}

.votes {
    display: flex;
    flex-direction: column;
    margin-right: 2em;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

.post h5 {
    font-size: 13pt
}

.content{
    margin-top: 5em
}